/*.dark-modal .modal-content {
    background-color: #292b2c;
    color: white;
  }
  .dark-modal .close {
    color: white;
  }
  .light-blue-backdrop {
    background-color: #5cb3fd;
  }*/
  .modal-backdrop.fade{
    opacity: 0.5 !important;
  }
  .modal-open .modal.fade{
    opacity:1 !important;
  }